* {
    box-sizing: border-box;
    font: 'Inter';
    background-color:#23252C;
}

.information {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: #1A1B21;
    border-radius: 10px 10px 0px 0px;
}

.jay {
    height: 300px;
    width: 300px;
    border-radius: 10px 10px 0px 0px;
}

.information > h1 {
    font-size: 25px;
    line-height: 30px;
    color: white;
    margin: 0;
    padding-top: 15px;
    background-color: #1A1B21;
}

.information > h3 {
    font-size: 12px;
    color:#F3BF99;
    line-height: 15px;
    font-weight: 400;
    margin: 0;
    background-color: #1A1B21;
}

.information > a {
    font-size: 10px;
    color: #F5F5F5;
    padding: 13px;
    text-decoration: none;
    background-color: #1A1B21;
}

.email {
    display:flex;  
    margin-left: auto;
    margin-right: 110px;
}

.email > button {
    font-size: 14px;
    background-color: white;
    width: 250px;
    height: 27.5px;
    border: 1px solid #D1D5DB;
    border-radius: 6px; 
    margin-right: -60px;
}

.email > button:hover{
    cursor:pointer;
}

.email > img:hover{
    cursor:pointer;
}

.email > img {
    width: 20px;
    height: 20px;
    margin-left: -45px;
    margin-top: 3px;
}

.about, .interests {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -20px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #1A1B21;
    color: #F5F5F5;
}

.about >h2, .interests>h2{
     font-size: 16px;
     line-height: 24px;
     padding-top: 25px;
     background-color: #1A1B21;
}

.about > p, .interests > p{ 
    font-size: 10.25px;
    line-height: 15px;
    margin-top: -10px;
    background-color: #1A1B21;
}

.interests {
    padding-bottom: 16px;
} 

.interests > h2 {
    padding-top: 15px;
}

.links {
    width: 300px;
    margin-left:auto;
    margin-right:auto;
    margin-top: -10px;
    background-color: #161619;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 0px 0px 10px 10px;
}

.links > a > img {
    width: 30px;
    border-radius: 10px 10px 10px 10px;
}

.links > a {
    border-radius: 10px 10px 10px 10px;
}

.linkedin {
    margin-right: -40px;
}

.facebook {
    margin-left: -35px;
}

.github {
    margin:0;
}